.Navbar {
  position: fixed;
  width: 100vw;
  height: 70px;
  border-bottom: 2px solid #7364ff33;
}

.mainframe {
  position: fixed;
  width: 180px;
  height: 738px;
  border-right: 0.5px solid #7364ff80;
}

.mainframe a {
  text-decoration: none;
}
//frame1
.frame1 {
  width: 100%;
  // border: 2px solid red;
  transform: translateY(0.8rem);
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;

}
.dashboard,.projects{
  color:#7364FF;
  // border: 2px solid red;
  width: 140px;
}
.dashboard,.workspace{
  font-weight:500;
}
.frame1>div{
 margin:.5rem 0rem;
}


.dropdown{
  display: none;
  width: 140px;
  // border: 2px solid red;
  padding: 10px 20px 10px 20px;
  
}

.frame1:hover .dropdown ,.frame1:hover .dropdown ul{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
}

.dropdown ul li{
  list-style:none;
  margin:0.2rem 0;
}

// .frame1,
// .dashboard {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: flex-start;
//   list-style: none;
// }

// .dashboard {
//   border: dotted #7364ff33 2px;
//   margin: 10px 0px 0px 0px;
//   width: 100%;
//   cursor: pointer;
// }

// .dropdown {
//   width: 75%;
//   margin: 0px 0px 10px 0px;
//   height: 104px;
//   display: none;
// }
// // .dropdown a {
// //   text-decoration: none;
// // }
// .dashboard:hover .dropdown {

//   display:flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items:flex-start;
//   cursor: pointer;
// }

//frame2
// .frame2,
// .workspace {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: flex-start;
//   list-style: none;
// }

// .workspace {
//   border: dotted #7364ff33 2px;
//   margin: 5px 0px 0px 0px;
//   width: 100%;
//   cursor: pointer;
// }

// .dropdown1 {
//   width: 75%;
//   margin: 0px 0px 10px 0px;
//   display: none;
//   height: 182px;
// }

// .workspace:hover .dropdown1 {

//     display:flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: flex-start;
//     cursor: pointer;

//   }

//frame2////////*****/

.frame2 {
  width: 100%;
  // border: 2px solid red;
  margin-top: .8rem;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;

}


.frame2>div{
 margin:.5rem 0rem;
}


.submenu{
  display: none;
}

.frame2:hover .submenu ,.frame2:hover .submenu ul{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.submenu ul li{
  list-style:none;
  margin:0.2rem 0;
}



// .projects ul{
//   display: flex;
//   flex-direction: column;
//   justify-content:space-between;
//   align-items: center;
// }


// .projects ul li{
//       list-style: none;
//       margin: 0.2rem 0rem;
      
// }





