.wrapper {
  position: fixed;
  min-height: 100vh;
  margin-top: var(--navbar-height);
  border-right: 0.125rem solid rgba(115, 100, 255, 0.5);
  padding: 1.625rem, 0rem, 1.625rem, 0rem;
  gap: .625rem;
  display: flex;
  flex-direction: column;

  .dashboard {
    margin-top: 8%;
  }

  .container {
    position: relative;
    width: 100%;
    padding: .625rem 1.5625rem;
    cursor: pointer;

    button {
      display: flex;
      gap: .625rem;
      justify-content: center;
      align-items: center;
      font-size: 1.7vw;

      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      outline: inherit;

      @media screen and (max-width: 768px) {
        font-size: 2.9vw;
      }
      
    }

    .hidden {
      display: none !important;
      transform: translateY(-110%) !important;
      transition: all 1s ease-in-out;
    }

    .items {
      display: flex;
      flex-direction: column;
      gap: .625rem;
      padding: .625rem 1.25rem;
      transition: all 1s ease-in-out;
      overflow: hidden;

      .it {
        transition: all 1s ease-in-out;
      }

      h3 {
        display: flex;
        gap: .625rem;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.2vw;

        @media screen and (max-width: 768px) {
          font-size: 2.4vw;
        }
      }
    }
  }
}


