@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

:root {
  --navbar-height: 70px;
  --gdsc-font-1: "Inter", sans-serif;
  --gdsc-font-2: "Poppins", sans-serif;

  --gdsc-blue-1-100: #7364ff;

  --gdsc-black-1-100: #000000;
  --gdsc-black-2-100: #1e1e1e;

  --gdsc-white-1-100: #ffffff;
  --gdsc-white-2-100: #f5f5fa;

  --gdsc-red-1-100: #d50000;

  --gdsc-green-1-100: #33b679;

  --gdsc-yellow-1-100: #f6bf26;

  --gdsc-grey-1-100: #949494;

  --heading-1-text-weight: 600;
  --heading-2-text-weight: 500;
  --paragraph-1-text-weight: 400;
  --paragraph-2-text-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--gdsc-font-1);
}
